@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');

body {
    background-color: rgb(101, 47, 187);
    overflow-x: hidden; 
}

.bayon-regular {
    font-family: "Bayon", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

.container {
    background-color: rgb(109, 55, 196);
    border: solid rgb(255, 255, 255);
    border-radius: 4px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 180px;
    width: 360px;
    height: 385px;
    margin: auto;
    padding: 20px;
}

input {
    width: 100%;
    height: 34px;
    padding-left: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    height: 34px;
    margin-top: 20px;
    background-color: rgb(75, 39, 134);
    color: white;
    cursor: pointer;
}

.torcida {
    position: absolute;
    width: 650px;
    height: 550px;
    right: 90%;
    bottom: 10%;
    z-index: -3;
}


.escudo {
    width: 1200px;
    height: auto;
    position: absolute;
    bottom: -102px;
    left: -215px;
    z-index: -1;
}


.escudo2 {
    width: 1200px;
    height: auto;
    position: absolute;
    bottom: -102px;
    left: -215px;
    z-index: 1;
    opacity: 0.2;
    pointer-events: none;
}

.sexo {
    cursor: pointer;
    appearance: none;
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 60px;
}